.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal {
  width: min(59rem, 90%);
  background: var(--white);
  padding: 6.4rem 8.6rem;
  border-radius: 0.8rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-wrapper .modal h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1.2rem;
}

.modal-wrapper .modal p {
  margin-bottom: 2.4rem;
  color: var(--grey-dark);
}

.modal-wrapper .modal form {
  display: flex;
  flex-direction: column;
}

.modal-wrapper .modal input {
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  border: 2px solid var(--blue);
  background: var(--white);
  outline: none;
}

.modal-wrapper .modal .buttons {
  display: flex;
  gap: 0.8rem;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
  padding: 1.3rem 3.2rem;
}
